/* UnoCSS */
@import '@unocss/reset/tailwind.css';

body {
  @apply bg-gray-50 text-black dark:bg-[--el-bg-color] dark:text-white;
}

.prose a:not(h2 a, h3 a, h4 a, h5 a, h6 a, button a) {
  @apply text-indigo-500 dark:text-indigo-400;
}

.nuxt-icon > svg {
  margin-bottom: 0 !important;
}

:root {
  --bg-color: #ffffff;
  --text-color: #303133;
  --text-color-secondary: #909399;
  --border-color: #e4e7ed;

  --menu-bg: #ffffff;
  --menu-text: rgba(255, 255, 255, 0.85);
  --header-bg: #ffffff;
  --main-bg: #ffffff;

  --card-bg: #ffffff;
  --hover-bg: #f5f7fa;

  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;

  --font-size-small: 13px;
  --font-size-default: 14px;
  --font-size-large: 16px;

  --el-menu-bg-color: #ffffff;

}

html.dark {
  --bg-color: #252525;
  --text-color: #e5eaf3;
  --text-color-secondary: #a3a6ad;
  --border-color: #434343;

  --menu-bg: #252525;
  --menu-text: rgba(255, 255, 255, 0.85);
  --header-bg: #252525;
  --main-bg: #252525;

  --card-bg: #141414;
  --hover-bg: #2d2d2d;

  --el-bg-color: #141414;
  --el-bg-color-overlay: #1f1f1f;
  --el-text-color-primary: #ffffff;
  --el-text-color-regular: rgba(255, 255, 255, 0.85);
  --el-text-color-secondary: rgba(255, 255, 255, 0.65);
  --el-border-color: #434343;
  --el-border-color-light: #434343;
  --el-border-color-lighter: #434343;
  --el-fill-color-blank: #141414;
  --el-fill-color-light: #262626;
  --el-mask-color: rgba(0, 0, 0, 0.8);

  --el-menu-bg-color: #252525;
  --el-border-color-extra-light: #252525;
}
